@use '../abstracts/variables';

.section {



    &.section-bg-grey {
        background-color: lightgrey;
    }

    &.section-bg-green {
        background-color: variables.$color-primary;
    }

    &.section-bg-dark-grey {
        background-color: #1d2636;
    }
    
    .section-header {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 15rem;

        p {
            text-align: center;
        }
    }
}

.margin-top {
    margin-top: 800px;
    height: 1000px;
    padding: 10rem 0;
}